
<html>
    <head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </head>
        <body>
    <form action="/Home/AfterCreate">
            <table class="table">
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="Name"/></td>
                </tr
                <tr>
                    <td>Course Name</td>
                    <td><input type="text" name="CourseName" /></td>
                    </tr>
                    <tr>
                    <td><button type="submit">Submit</button></td>
                    </tr>
            </table>
        </form>
        </body>
    
</html>