@model CRUD_Operations.Models.Student

<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>

    <form action="/Home/AfterEdit">
        <table class="table">
            <tr>
                <td><input type="hidden" name="Id" value="@Model.Id" /></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" name="Name" value="@Model.Name" /></td>
            </tr>
            <tr>
                <td>CourseName</td>
                <td><input type="text" name="CourseName" value="@Model.CourseName" /></td>
            </tr>
            <tr>
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>
    </form>
</body>
</html>

