@model DataAnotation.Models.Student


@{
    ViewData["Title"] = "Create Student";
}

<h2>Create Student</h2>

<form asp-action="Create" method="post">

    <div>
        <label>Name:</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" style="color:red"></span>
    </div>

    <br />

    <div>
        <label>Age:</label>
        <input asp-for="Age" />
        <span asp-validation-for="Age" style="color:red"></span>
    </div>

    <br />

    <div>
        <label>Email:</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" style="color:red"></span>
    </div>

    <br />

    <button type="submit">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}